body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.form-container {
    background-color: rgba(128, 128, 128, 0.897);
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    margin-top: 400px;
}
.form-container h1{
    text-align: center;
    color: green;
    margin-top: 1px;

}


.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 7px;
}


.form-container label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

.form-container input{
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: cadetblue;
}
.form-container select{
    width: 98%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: cadetblue;
}

.form-container button {
    margin-left: 40px;
    width: 80%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #218838;
}

.form-container .success {
    color: green;
    font-size: 14px;
    text-align: center;
}

.form-container .error {
    color: red;
    font-size: 14px;
    text-align: center;
}
img{
    max-width: 100px;
    max-height: 100%;
    
}
